@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:wght@400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

:root {
  --colour-primary: #e50914;
  --colour-secondary: #221f1f;
  --colour-tertiary: #f5f5f1;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--colour-tertiary);
}

html {
  scroll-behavior: smooth;
}

nav {
  display: flex;
  height: 80px;
  position: relative;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: white;
}

h1 {
  font-size: 30px;
  margin: 12px 0;
  text-align: center;
}

h2 {
  text-transform: capitalize;
  font-size: 20px;
  text-align: center;
}

button {
  cursor: pointer;
}

button:active {
  transform: translateY(1px);
}

::placeholder{
  opacity: 0.3;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

select {
  border-radius: 8px;
  padding: 2px;
  border: 1px solid lightgrey;
  padding-right: 8px;
}

.white {
  color: #f5f5f1;
}

.no-cursor {
  cursor: not-allowed;
}

.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1100px;
  padding: 0 24px;
  margin: 0 auto;
}

.logo {
  height: 80px;
}

.nav__link {
  text-decoration: none;
  font-size: 18px;
  padding: 8px;
  color: var(--colour-primary);
}

.nav__btn {
  padding: 8px;
  margin-left: 8px;
  border-radius: 12px;
  border: none;
  font-size: 15px;
  color: var(--colour-primary);
}

.nav__dropdown:hover .nav__dropdown_content {
  display: block;
}

.nav__dropdown_btn {
  background-color: #e50914;
  color: white;
  font-weight: 600;
  font-size: 24px;
  border: none;
  border-radius: 50%;
  padding: 8px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 12px;
  position: relative;
}

.nav__dropdown:hover .nav__dropdown_btn {
  background-color: #cb0b15;
  color: #f5f5f1;
}

.nav__dropdown_content {
  display: none;
  position: absolute;
  background-color: #242424e7;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 4px 12px;
  z-index: 1;
}

.colour-grey {
  background-color: grey;
}

/* Dropdown Nav */
.btn__menu {
  display: none;
  background-color: transparent;
  font-size: 30px;
  border: none;
  color: #e50914;
  margin-right: 16px;
}

header {
  height: calc(100vh - 80px);
  background-color: var(--colour-tertiary);

}

.header__container {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header__img--wrapper {
  display: flex;
  margin: 20px;
  align-items: center;
  justify-content: center;
  max-height: 50vh;
}

img {
  width: 100%;
  height: 100%;
}

.header__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__input--wrapper {
  display: flex;
  justify-content: center;
}

.header__input {
  padding: 6px 12px;
  border-radius: 8px;
  border: 1px solid lightgrey;
  margin: 0 4px;
  font-size: 16px;
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: -20px;
}

.search__btn:hover {
  background-color: lightgray;
}

.container {
  padding: 56px 0;
  max-width: 800px;
  margin: 0 auto;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.movie__card {
  display: flex;
  flex-direction: column;
  width: calc(100%/3);
  text-align: center;
  padding: 12px;
  margin: 0 auto;
  transition: all 300ms ease;
}

.card__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 200px;
  margin: 0 auto;
  width: 100%;
}

.movie__card:hover {
  transform: translateY(-4px);
}

.results__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
}

.card__img {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin: 0 auto;
}

#search, #results {
  background-color: var(--colour-tertiary);
}

.empty__search {
  text-align: center;
  margin: 20px auto;
  color: #e50914;
}

/*Movie info page*/

.movie_info__wrapper {
  display: flex;
  margin: 0 24px;
  align-items: center;
  justify-content: center;
}

.movie__information {
  display: flex;
  flex-direction: column;
}

.movie__poster {
  width: 100%;
  height: auto;
  max-width: 300px;
  cursor: pointer;
}

.ratings__wrapper {
  display: flex;
  margin: 12px 0;
}

.movie__rating {
  width: calc(100%/3);
  display: flex;
  align-self: center;
  justify-content: center;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  color: #e50914;
}

/* Fitler */ 

.filter__wrapper {
  display: flex;
  margin: 8px 0;
  margin-right: 60px;
  justify-content: flex-end;
  max-width: 1000px;
}


/* Skeleton Loading State */

.movie__img--skeleton {
  width: 100%;
  max-width: 250px;
  height: 320px;
  background-color: rgb(204, 204, 204);
  margin-bottom: 8px;
}

.skeleton {
  background-color: rgb(227, 227, 227) !important;
  margin-bottom: 8px;
}

.movie__title--skeleton {
  height: 21px;
  width: 100%;
  max-width: 250px;
}

.movie__year--skeleton {
  width: 100px;
  height: 19px;
}

.fa-spinner {
  animation: rotate 600ms infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.menu__backdrop {
  position: absolute;
  background-color: #242424;
  top: 0;
  left: 0;
  width: 50vw;
  height: 100vh;
  z-index: 100;
  display: none;
  align-items: start;
  justify-content: center;
  transition: all 300ms ease;
  transform: translate(100%);
  opacity: 0;
}

.menu__links {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  font-size: 20px;
}

.menu--open .menu__backdrop{
  visibility: visible;
  opacity: 1;
  transform: translate(50);
  display: flex;
}

.white {
  color: white;
}

.btn__menu--close {
  position: absolute;
  margin: 20px;
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  top: 0;
  right: 0;
}

.menu__link {
  padding: 10px;
}

/* Login Page */

.login__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 40%;
  border-radius: 8px;
  padding: 12px;
}

.login__form {
  display: flex;
  flex-direction: column;
}

.login__email {
  width: 100%;
  margin-bottom: 10px;
  padding: 2px;
  border-radius: 4px;
  border: 1px solid lightgrey;
}

.login__pass {
  width: 100%;
  margin-bottom: 10px;
  padding: 2px;
  border-radius: 4px;
  border: 1px solid lightgrey;
}

.login__submit {
  border-radius: 12px;
  border: none;
  background-color: #e50914;
  padding: 6px;
  margin: 20px auto;
  width: 50%;
  color: #f5f5f1;
  font-weight: 700;
}

.login__submit:hover {
  background-color: #cb0b15;
  transition: 100ms all ease;
}

.login__divider {
  border-top: 2px solid lightgrey;
  border-bottom: none;
  width: 100%;
  margin: 4px auto;
}

.login__text {
  color: grey;
  font-size: 12px;
  text-align: center;
  margin-top: 20px;
}

.login__signup {
  color: #e50914;
  font-size: 14px;
  text-align: center;
  margin-top: 2px;
}

.login__signup:hover {
  border-bottom: 2px solid #e50914;
  margin: 0 auto;
  cursor: pointer;
  transition: 200ms all ease;
}

.login__page {
  margin-top: 5%;
}

.register__text {
  cursor: pointer;
  text-align: end;
  color: grey;
  font-size: 12px;
}

.register__text:hover {
  border-bottom: 2px solid grey;
  transition: 100ms all ease;
  margin-left: auto;
}

label {
  color: #e50914;
  margin-bottom: 2px;
}

/*Modal*/ 

.modal__wrapper .modal__overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.modal__overlay {
  background-color: #242424ee;
}

.modal__img {
  height: 70vh;
  z-index: 50;
  margin-top: 20px;

}

.fixed {
  position: fixed;
}

.modal__window { 
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 60px;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
}

.active-modal {
  overflow-y: hidden;
}

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */
@media (max-width: 768px) {
  .movie__card {
    width: 50%;
    padding: 12px 8px;
  }

  .movie_info__wrapper {
    flex-direction: column;
  }

  .movie__poster {
    margin: 40px auto;
  }

  .login__wrapper {
    width: 60%;
    margin: 0 auto;
  }
}


/* SMALL PHONES, LARGE SMARTPHONES */
@media (max-width: 550px) {
  .btn__menu {
    display: block;
  }

  .nav__link {
    display: none;
  }

  .nav__dropdown_btn {
    display: none;
  }

}